<%- include('partials/header') %>

  <main>

    <h1 class="margin-h1"> Gestion des cafés</h1>
    <% if (isAdded) { %>
      <div class="notification-added">Café ajouté avec succès</div>
      <% } else if (isRemoved) { %>
       <div class="notification-removed">Café supprimé avec succès</div>
      <% } else %>
        <div class="form-container">
        <form class="coffee-form" method="POST" action="/admin/manage">
          <h2>Ajout</h2>
          <label for="name">Nom du café</label>
          <input type="text" id="name" name="name" placeholder="Nom du café" required>

          <label for="description">Description</label>
          <textarea id="description" name="description" wrap placeholder="Description du produit" rows="5" cols="40" required></textarea>

          <label for="reference">Référence</label>
          <input type="number" id="reference" name="reference" placeholder="Référence SKU" required>

          <label for="origin">Origine</label>
          <input type="text" id="origin" name="origin" placeholder="Pays d'origine" required>

          <label for="price">Prix</label>
          <input type="number" id="price" name="price" placeholder="Prix en €/kg" required>

          <label for="available">Disponibilité</label>
          <select name="available" id="available">
            <option value="true">Disponible</option>
            <option value="false">Non disponible</option>
          </select>

          <label for="category_id">Catégorie</label>
          <select id="category_id" name="category_id">
            <% categories.forEach(category=> { %>
              <option value="<%= category.id %>">
                <%= category.name %>
              </option>
              <% }) %>
          </select>

          <button name="action" value="add">Ajouter</button>
        </form>
        
        <form class="coffee-form" method="POST" action="/admin/manage">
          <h2>Suppression</h2>
          <label for="reference">Référence</label>
          <select name="reference" id="reference">
            <% coffees.forEach(coffee => { %>
             <option value="<%= coffee.reference %>"><%= coffee.name %> - <%= coffee.reference %></option>
            <% }) %>
          </select>
          <button name="action" value="remove">Supprimer</button>
        </form>
      </div>

  </main>

  <%- include('partials/footer') %>