<%- include('partials/header') %>

  <main>
    <div class="container">
      <h1>Catalogue</h1>
      <aside class="aside-container">
        <h3>Filtrer par catégorie</h3>
        <form id="filter-form">
            <label>
                <input type="checkbox" class="filter-checkbox" value="Corsé">
                Corsé
            </label>
            <label>
                <input type="checkbox" class="filter-checkbox" value="Acide">
                Acide
            </label>
            <label>
                <input type="checkbox" class="filter-checkbox" value="Fruité">
                Fruité
            </label>
            <label>
                <input type="checkbox" class="filter-checkbox" value="Doux">
                Doux
            </label>
            <label>
              <input type="checkbox" class="filter-checkbox" value="Épicé">
              Épicé
          </label>
          <label>
            <input type="checkbox" class="filter-checkbox" value="Chocolaté">
            Chocolaté
        </label>
        </form>
        </aside>
      <% coffees.forEach((coffee, index)=> { %>
        <article data-category="<%= coffee.category_name %>" class="card-container <%= index > 3 ? "hidden-card" : '' %>">
          <a class="category-link <%= coffee.category_name.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, '') %>" href="/category/<%= coffee.category_name %>"><%= coffee.category_name %></a>
          <img class="card-img" src="/img/coffees/<%= coffee.reference %>.png" alt="Image liée au café <%= coffee.name %>">
          <div class="card-content">
          <h3><%= coffee.name %></h3>
          <p><%= coffee.description %></p>
          <a class="card-link" href="/coffee/<%= coffee.id %>">Découvrir</a>
          </div>
        </article>
        <% }) %>
      </div>
      
  </main>

  <%- include('partials/footer') %>