<%- include('partials/header') %>

  <main>
    <div class="container">
    <h1>Détails produit</h1>
    <article class="card-container">
      <a class="category-link <%= coffee.category_name.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, '') %>" href="/category/<%= coffee.category_name %>"><%= coffee.category_name %></a>
      <img class="card-img" src="/img/coffees/<%= coffee.reference %>.png" alt="Image liée au café <%= coffee.name %>">
      <div class="card-content">
      <h3><%= coffee.name %></h3>
      <p><%= coffee.description %></p>
      <a class="card-link" href="/category/<%= coffee.category_name %>">Catégorie identique</a>
      </div>
    </article>
  </div>
  </main>

  <%- include('partials/footer') %>